In [1]:
import pandas as pd
df = pd.read_csv('C:\\Users\\patel\\Downloads\\Data analyst\\bike\\Cleaned_SQL_Data\\DA_p.csv')
print(df.shape)

(4333132, 23)

In [2]:
# Define the new column names
new_column_names = [
    'ride_id', 'rideable_type', 'started_at', 'ended_at',
    'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id',
    'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual',
    'Duration_min', 'dayofweek', 'month', 'distance',
    'start_date', 'start_time', 'end_date','end_time','year','hour']

# Rename columns
df.columns = new_column_names

In [3]:
df = df.drop_duplicates(subset='ride_id', keep='first')  # Keeps the first occurrence

In [46]:
print(df.head(10))

            ride_id  rideable_type      started_at        ended_at  \
0  6842AA605EE9FBB3  electric_bike   16-03-23 8:20   16-03-23 8:22
1  FF7CF57CFE026D02   classic_bike  31-03-23 12:28  31-03-23 12:38
2  6B61B916032CB6D6   classic_bike  22-03-23 14:09  22-03-23 14:24
3  E55E61A5F1260040  electric_bike   09-03-23 7:15   09-03-23 7:26
4  123AAD676850F53C   classic_bike  22-03-23 17:47  22-03-23 18:01
5  5929D3080983AF4F   classic_bike  08-03-23 19:58  08-03-23 20:05
6  B2624BAEDDDA3FB1    docked_bike  22-03-23 17:28  22-03-23 17:50
7  979C41EAC356278F   classic_bike  16-03-23 19:31  16-03-23 19:41
8  6C1DCA9593CA8F5F   classic_bike  16-03-23 17:33  16-03-23 17:45
9  74FA89B21DC5856D    docked_bike  16-03-23 10:17  16-03-23 11:00

                     start_station_name start_station_id  \
0               Clark St & Armitage Ave            13146
1  Orleans St & Chestnut St (NEXT Apts)              620
2             Desplaines St & Kinzie St     TA1306000003
3                            Walsh Park            18067
4  Orleans St & Chestnut St (NEXT Apts)              620
5                  Rush St & Hubbard St     KA1503000044
6                     Adler Planetarium            13431
7                 Broadway & Wilson Ave            13074
8          Stetson Ave & South Water St     TA1308000029
9             Clark St & Wellington Ave     TA1307000136

                    end_station_name end_station_id  start_lat  start_lng  \
0          Larrabee St & Webster Ave          13193  41.918413 -87.636451
1             Clark St & Randolph St   TA1305000030  41.898203 -87.637536
2       Sheffield Ave & Kingsbury St          13154  41.888716 -87.644448
3              Sangamon St & Lake St   TA1306000015  41.914480 -87.668013
4        Halsted St & Wrightwood Ave   TA1309000061  41.898203 -87.637536
5                Wells St & Huron St   TA1306000012  41.890173 -87.626185
6      Michigan Ave & Ida B Wells Dr   TA1305000010  41.866095 -87.607267
7    Ravenswood Ave & Irving Park Rd   TA1307000149  41.965221 -87.658139
8       Clinton St & Washington Blvd         WL-012  41.886835 -87.622320
9  DuSable Lake Shore Dr & Monroe St          13300  41.936497 -87.647539

   ...  Duration_min  dayofweek month  distance  start_date  start_time  \
0  ...             2  Wednesday     3  0.855099  2016-03-23    08:20:00
1  ...            10     Sunday     3  0.630922  2031-03-23    12:28:00
2  ...            15  Wednesday     3  0.967866  2022-03-23    14:09:00
3  ...            11     Monday     3  1.893550  2009-03-23    07:15:00
4  ...            14  Wednesday     3  1.291070  2022-03-23    17:47:00
5  ...             7     Sunday     3  0.909479  2008-03-23    19:58:00
6  ...            22  Wednesday     3  1.908570  2022-03-23    17:28:00
7  ...            10  Wednesday     3  1.756520  2016-03-23    19:31:00
8  ...            12  Wednesday     3  2.096080  2016-03-23    17:33:00
9  ...            43  Wednesday     3  3.433840  2016-03-23    10:17:00

     end_date  end_time  year hour
0  2016-03-23  08:22:00  2016    8
1  2031-03-23  12:38:00  2031   12
2  2022-03-23  14:24:00  2022   14
3  2009-03-23  07:26:00  2009    7
4  2022-03-23  18:01:00  2022   17
5  2008-03-23  20:05:00  2008   19
6  2022-03-23  17:50:00  2022   17
7  2016-03-23  19:41:00  2016   19
8  2016-03-23  17:45:00  2016   17
9  2016-03-23  11:00:00  2016   10

[10 rows x 23 columns]

In [4]:
# Remove rides with ride lengths lower than a minute
df = df[df['Duration_min'] >= 1]
# Removed test rides by filtering specific columns like "start_station_name" or "user_type"
# Assuming test rides are flagged in the dataset (e.g., 'test' in station names or user type)
df = df[~df['start_station_name'].str.contains("test", case=False, na=False)]
print(f"Data after removing test rides and short durations: {df.shape}")

Data after removing test rides and short durations: (4266459, 23)

In [5]:

df = df[df['Duration_min'] <= 1440]  # Filter rides within 24 hours (1440 minutes)

print(f"Data after removing outliers: {df.shape}")

Data after removing outliers: (4256824, 23)

In [6]:

# Convert started_at and ended_at to datetime with specified format
df['started_at'] = pd.to_datetime(df['started_at'], format="%Y-%m-%d %H:%M:%S", errors='coerce')
df['ended_at'] = pd.to_datetime(df['ended_at'], format="%Y-%m-%d %H:%M:%S", errors='coerce')

In [8]:
# Convert start_date and end_date to datetime
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

print(df.dtypes)

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
Duration_min                   int64
dayofweek                     object
month                          int64
distance                     float64
start_date            datetime64[ns]
start_time                    object
end_date              datetime64[ns]
end_time                      object
year                           int64
hour                           int64
dtype: object

In [34]:
# Trip Duration Summary
trip_duration_summary = df['Duration_min'].describe()
print(trip_duration_summary)

count    4.256824e+06
mean     1.556845e+01
std      2.874171e+01
min      1.000000e+00
25%      6.000000e+00
50%      1.000000e+01
75%      1.700000e+01
max      1.439000e+03
Name: Duration_min, dtype: float64

In [15]:
# Bike Type Preferences 
bike_type_pref = df.groupby(['rideable_type', 'dayofweek']).size().reset_index(name='ride_count')
print(bike_type_pref)

    rideable_type  dayofweek  ride_count
0    classic_bike     Friday      395917
1    classic_bike     Monday      376670
2    classic_bike   Saturday      386497
3    classic_bike     Sunday      354840
4    classic_bike   Thursday      419640
5    classic_bike    Tuesday      371491
6    classic_bike  Wednesday      383153
7     docked_bike     Friday       10139
8     docked_bike     Monday        9987
9     docked_bike   Saturday       10150
10    docked_bike     Sunday       10446
11    docked_bike   Thursday       10606
12    docked_bike    Tuesday        9382
13    docked_bike  Wednesday        9937
14  electric_bike     Friday      225571
15  electric_bike     Monday      210632
16  electric_bike   Saturday      203977
17  electric_bike     Sunday      184887
18  electric_bike   Thursday      239488
19  electric_bike    Tuesday      212017
20  electric_bike  Wednesday      221397

In [17]:
# Group by ride type and hour
ridership_by_type_hour = (
    df.groupby(['member_casual', 'hour'])
    .size()
    .reset_index(name='ride_count')
)

print(ridership_by_type_hour)

   member_casual  hour  ride_count
0         casual     0       24423
1         casual     1       15713
2         casual     2        9014
3         casual     3        4626
4         casual     4        3463
5         casual     5        8054
6         casual     6       21551
7         casual     7       38336
8         casual     8       52224
9         casual     9       52179
10        casual    10       66231
11        casual    11       83688
12        casual    12       98851
13        casual    13      102388
14        casual    14      106183
15        casual    15      117627
16        casual    16      136407
17        casual    17      148424
18        casual    18      124305
19        casual    19       90894
20        casual    20       64880
21        casual    21       53305
22        casual    22       46971
23        casual    23       29716
24        member     0       22850
25        member     1       13140
26        member     2        7073
27        member     3        4627
28        member     4        5840
29        member     5       26563
30        member     6       84141
31        member     7      157347
32        member     8      193074
33        member     9      125553
34        member    10      111701
35        member    11      131947
36        member    12      150122
37        member    13      148573
38        member    14      151009
39        member    15      186797
40        member    16      256511
41        member    17      300343
42        member    18      230604
43        member    19      160532
44        member    20      110446
45        member    21       83648
46        member    22       60458
47        member    23       34472

In [22]:
# Group by ride type and weekday
ridership_by_type_weekday = (
    df.groupby(['member_casual', 'dayofweek'])
    .size()
    .reset_index(name='ride_count')
)

print(ridership_by_type_weekday)

   member_casual  dayofweek  ride_count
0         casual     Friday      222793
1         casual     Monday      201123
2         casual   Saturday      244278
3         casual     Sunday      222789
4         casual   Thursday      221266
5         casual    Tuesday      187985
6         casual  Wednesday      199219
7         member     Friday      408834
8         member     Monday      396166
9         member   Saturday      356346
10        member     Sunday      327384
11        member   Thursday      448468
12        member    Tuesday      404905
13        member  Wednesday      415268

In [29]:
# Peak Hours on Weekdays and Weekends
peak_hours = df.groupby(['hour', 'dayofweek']).size().reset_index(name='ride_count')
print(peak_hours)

     hour  dayofweek  ride_count
0       0     Friday        6420
1       0     Monday        4989
2       0   Saturday        9762
3       0     Sunday       10260
4       0   Thursday        5613
..    ...        ...         ...
163    23   Saturday       12159
164    23     Sunday        6789
165    23   Thursday       10147
166    23    Tuesday        7546
167    23  Wednesday        7815

[168 rows x 3 columns]

In [31]:
weekday_analysis = df.groupby(['member_casual', 'dayofweek']).size().unstack(fill_value=0)
print(weekday_analysis)

dayofweek      Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
member_casual
casual         222793  201123    244278  222789    221266   187985     199219
member         408834  396166    356346  327384    448468   404905     415268

In [32]:

weekdend_rides = df.groupby('dayofweek').size().reset_index(name='ride_count')
print(weekdend_rides)

   dayofweek  ride_count
0     Friday      631627
1     Monday      597289
2   Saturday      600624
3     Sunday      550173
4   Thursday      669734
5    Tuesday      592890
6  Wednesday      614487

In [ ]:
# Group by user type
summary_by_user_type = df.groupby('member_casual')['Duration_min'].describe()
print(summary_by_user_type)

In [37]:
# Rideable Type Analysis on Weekday and Weekend
rideable_weekend_analysis = df.groupby(['dayofweek', 'rideable_type']).size().unstack(fill_value=0)

# Display the result
print(rideable_weekend_analysis)

rideable_type  classic_bike  docked_bike  electric_bike
dayofweek
Friday               395917        10139         225571
Monday               376670         9987         210632
Saturday             386497        10150         203977
Sunday               354840        10446         184887
Thursday             419640        10606         239488
Tuesday              371491         9382         212017
Wednesday            383153         9937         221397

In [38]:
# Count and percentage
user_type_counts = df['member_casual'].value_counts()
user_type_percentage = df['member_casual'].value_counts(normalize=True) * 100

print("Counts:\n", user_type_counts)
print("\nPercentages:\n", user_type_percentage)

Counts:
 member_casual
member    2757371
casual    1499453
Name: count, dtype: int64

Percentages:
 member_casual
member    64.775311
casual    35.224689
Name: proportion, dtype: float64

In [39]:
# Start Station Popularity
start_station_popularity = df['start_station_name'].value_counts().head(10)

# End Station Popularity
end_station_popularity = df['end_station_name'].value_counts().head(10)

print("Top 10 Start Stations:\n", start_station_popularity)
print("Top 10 End Stations:\n", end_station_popularity)

Top 10 Start Stations:
 start_station_name
Streeter Dr & Grand Ave               58789
DuSable Lake Shore Dr & Monroe St     37488
Michigan Ave & Oak St                 34291
DuSable Lake Shore Dr & North Blvd    32853
Clark St & Elm St                     32254
Kingsbury St & Kinzie St              32185
Clinton St & Washington Blvd          30150
Wells St & Concord Ln                 29269
Theater on the Lake                   27720
Millennium Park                       27441
Name: count, dtype: int64
Top 10 End Stations:
 end_station_name
Streeter Dr & Grand Ave               60861
DuSable Lake Shore Dr & North Blvd    36985
DuSable Lake Shore Dr & Monroe St     35759
Michigan Ave & Oak St                 35236
Clark St & Elm St                     31573
Kingsbury St & Kinzie St              31474
Clinton St & Washington Blvd          30952
Wells St & Concord Ln                 30203
Millennium Park                       28887
Theater on the Lake                   28690
Name: count, dtype: int64

In [41]:
summary_by_user_type = df.groupby('member_casual')['distance'].describe()
print(summary_by_user_type)

                   count      mean        std  min       25%      50%  \
member_casual
casual         1499453.0  1.390546  11.416834  0.0  0.354941  1.01824
member         2757371.0  1.423484   1.434383  0.0  0.443737  1.03220

                   75%        max
member_casual
casual         1.93319  9811.3200
member         1.92823    22.4145

In [40]:
# Assuming 'distance' and 'ride_duration' columns exist in the same dataframe 'df'
distance_stats = df['distance'].agg(['mean', 'min', 'max'])
duration_stats = df['Duration_min'].agg(['mean', 'min', 'max'])

print("Distance Stats:\n", distance_stats)
print("Duration Stats:\n", duration_stats)

Distance Stats:
 mean       1.411882
min        0.000000
max     9811.320000
Name: distance, dtype: float64
Duration Stats:
 mean      15.568452
min        1.000000
max     1439.000000
Name: Duration_min, dtype: float64